/SimulationCode/gym-utaTransit/gym_utaTransit/__pycache__
/SimulationCode/gym-utaTransit/gym_utaTransit/envs/__pycache__
/SimulationCode/render/__pycache__
/SimulationCode/render/renderClasses/__pycache__
/SimulationCode/objects/__pycache__